*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  padding-top: 6rem;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  font-family: 'Fira Sans', sans-serif;
  color: rgba(#151515, 0.7);
  background-color: #f4f4f4;
}

.hidden {
  display: none;
}

.container {
  width: 100%;
  max-width: calc(111rem + 3rem);
  margin: 0 auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.button {
  display: inline-block;
  height: 5rem;
  padding: 1.9rem 1.7rem 1.5rem 1.7rem;
  font-weight: 500;
  line-height: 1.4rem;
  font-family: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  white-space: nowrap;
  background-color: #4737ff;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;

  &:hover,
  &:focus {
    background-color: lighten(#4737ff, 8%);
  }

  &--indian-khaki {
    background-color: #c6b393;

    &:hover,
    &:focus {
      background-color: darken(#c6b393, 8%);
    }
  }

  &--peach {
    background-color: #ef8e70;

    &:hover,
    &:focus {
      background-color: darken(#ef8e70, 8%);
    }
  }
}

.section-title {
  width: 100%;
  max-width: 54rem;
  margin-bottom: 3rem;
  font-weight: 600;
  font-size: 4rem;
  line-height: 1.25;
  color: #222222;
  letter-spacing: -0.1rem;
}

.section-name {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  font-weight: 500;
  font-size: 1.4rem;
  color: rgba(#222222, 0.7);
  text-transform: uppercase;
  letter-spacing: 0.4rem;

  &::before {
    content: '';
    display: block;
    width: 1.1rem;
    height: 0.1rem;
    margin-right: 1.1rem;
    background-color: rgba(#222222, 0.7);
  }

  &--dark {
    color: #222222;
  }
}

.section__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
}

section {
  margin-bottom: 6.5rem;
  padding-top: 6.5rem;
}

.main-header {
  margin-bottom: 3rem;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__link {
    font-size: 1.8rem;
    color: #222222;
    transition: color 0.25s ease-in-out;

    &:hover,
    &:focus {
      color: lighten(#222222, 35%);
    }
  }
}

.main-logo {
  display: block;

  img {
    display: block;
    width: 100%;
    max-width: 100%;
  }
}

.main-nav {
  display: flex;
  align-items: center;

  &__toggle {
    position: relative;
    width: 3.4rem;
    height: 1.4rem;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 3.4rem;
      height: 0.3rem;
      background-color: #222222;
      transition: width 0.25s ease-in-out;
    }

    &::after {
      top: auto;
      bottom: 0;
      width: 1.8rem;
    }

    &:hover,
    &:focus {
      &::before {
        width: 1.8rem;
      }

      &::after {
        width: 3.4rem;
      }
    }
  }

  &__list {
    display: none;
  }
}

.social-icons {
  display: flex;
  align-items: center;
  list-style: none;

  &__item:not(:last-child) {
    margin-right: 2.5rem;
  }

  &__link {
    display: block;

    svg {
      path {
        transition: fill 0.25s ease-in-out;
      }
    }

    &:hover,
    &:focus {
      svg {
        path {
          fill: #222222;
        }
      }
    }
  }
}

.search-form {
  &__label {
    display: flex;
    align-items: center;
  }

  &__submit {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 8.5C0 3.80557 3.80557 0 8.5 0C13.1944 0 17 3.80557 17 8.5C17 10.3205 16.4277 12.0073 15.4532 13.3903L18.8922 16.827C19.2831 17.2176 19.2831 17.8511 18.8923 18.2417L18.2444 18.8891C17.854 19.2793 17.2212 19.2793 16.8307 18.8891L13.3915 15.4524C12.0083 16.4274 10.321 17 8.5 17C3.80557 17 0 13.1944 0 8.5ZM8.49996 14.5714C5.15218 14.5714 2.42854 11.8478 2.42854 8.5C2.42854 5.15221 5.15218 2.42857 8.49996 2.42857C11.8477 2.42857 14.5714 5.15221 14.5714 8.5C14.5714 11.8478 11.8477 14.5714 8.49996 14.5714V14.5714Z' fill='%23222222'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__input {
    display: none;
  }
}

.hero {
  position: relative;
  min-height: 84rem;
  margin: 0 0 6.5rem 0;
  padding: 6.5rem 0 0 0;

  &__bg-image {
    position: absolute;
    width: 50%;
    height: 100%;
    object-fit: cover;
    top: 0;
    right: 0;
  }
}

.hero-slider {
  padding-bottom: 8.5rem;

  &__content {
    width: 100%;
    max-width: 47.5rem;
  }

  &__title {
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: 6rem;
    line-height: 1.17;
    color: #151515;
    letter-spacing: -0.1rem;
  }

  &__descr {
    margin-bottom: 5.5rem;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.55;
    color: rgba(#222222, 0.7);
  }

  &__video-wrap {
    display: flex;
    align-items: flex-end;
    transform: translateY(-6rem);
  }

  &__video-progress {
    width: 100%;
    max-width: 34.5rem;
    height: 1.8rem;
    margin: 0 10rem 4.3rem 0;
  }

  &__video {
    position: relative;
    width: 40rem;
    height: 31rem;
    background-color: transparent;

    video {
      display: block;
      width: 100%;
      max-width: 100%;
      height: 100%;
      box-shadow: -2rem 6rem 22rem rgba(0, 0, 0, 0.44);
      object-fit: cover;
    }
  }

  .button {
    position: relative;
    z-index: 1;
  }
}

.video-play-btn {
  position: absolute;
  top: calc(50% - 3.25rem);
  left: calc(50% - 3.25rem);
  z-index: 1;
  width: 6.5rem;
  height: 6.5rem;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='18' viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.697 8.84848L0.924293 17.3775L0.924293 0.319446L15.697 8.84848Z' fill='%23F96241'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 1.6rem 1.8rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.about {
  min-height: 56.4rem;

  .container {
    display: flex;
  }

  &__image {
    width: 100%;
    max-width: 47.5rem;
    margin-right: 8rem;

    img {
      width: 100%;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    padding-top: 3.7rem;
  }

  &__text {
    width: 100%;
    max-width: 44.5rem;
    margin-bottom: 6rem;
    font-size: 1.8rem;
    color: rgba(#222222, 0.7);

    p:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__author {
    display: flex;
    align-items: center;
  }

  &__author-avatar {
    width: 6.5rem;
    height: 6.5rem;
    margin-right: 3rem;
    border-radius: 50%;

    img {
      width: 100%;
      max-width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__author-name {
    font-weight: 500;
    font-size: 2.2rem;
    color: #222222;
  }

  &__author-position {
    font-size: 1.8rem;
    color: rgba(#222222, 0.7);
  }
}

.services {
  &__items {
    width: 41rem;
    column-count: 2;
    column-gap: 6rem;
  }

  &__item {
    float: left;
    width: 100%;
    margin-bottom: 2rem;
    list-style: none;
    font-size: 1.8rem;
    color: rgba(#222222, 0.5);
    page-break-inside: avoid;
    break-inside: avoid;
  }
}

.services-slider {
  position: relative;
  height: 60rem;

  &__list {
    position: absolute;
    display: flex;
  }

  &__slide {
    position: relative;
    width: 82.5rem;
    height: 49.5rem;
    margin-right: 3rem;
    opacity: 0.3;
    pointer-events: none;

    &--active {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__slide-media {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    overflow: hidden;

    video,
    img {
      position: absolute;
      width: 100%;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.slider-arrows {
  position: absolute;
  bottom: 0;
  left: 0;
}

.slider-arrow {
  width: 6.5rem;
  height: 6.5rem;
  font-size: 0;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 1.1rem 1.8rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;

  &:hover {
    background-color: darken(#c4c4c4, 5%);
  }

  &--prev {
    margin-right: 2.5rem;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='18' viewBox='0 0 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 1.5L2 9.3125L9.5 17.125' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
  }

  &--next {
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='18' viewBox='0 0 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 16.75L9 8.9375L1.5 1.125' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
  }
}

.features {
  .container {
    display: flex;
    justify-content: space-between;
  }

  &__media {
    position: relative;
    padding: 10rem 0 0 19.5rem;

    img {
      display: block;
      width: 100%;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__img-1 {
    position: absolute;
    top: 0;
    left: -12rem;
    z-index: -1;
    width: 57rem;
    height: 41.7rem;
  }

  &__img-2 {
    width: 35rem;
    height: 45.3rem;
    box-shadow: 3rem 8rem 18rem rgba(0, 0, 0, 0.25);
  }

  &__content {
    width: 100%;
    max-width: 47.5rem;
  }

  &__text {
    margin-bottom: 6rem;
  }

  &__item {
    margin-bottom: 3rem;
    list-style: none;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.7;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
  }

  &__item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.4rem;
    height: 5.4rem;
    margin-right: 3rem;
    background-color: #e1e1e1;
    border-radius: 50%;
  }
}

.our-works {
  &__text {
    width: 100%;
    max-width: 73rem;
    font-size: 1.8rem;
    color: rgba(#222222, 0.7);

    &--small {
      max-width: 54rem;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }
}

.works-nav {
  margin-bottom: 3rem;

  &__list {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__item {
    margin-right: 2.5rem;
    list-style: none;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.15;
    color: rgba(#222222, 0.3);
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    cursor: pointer;
    transition: color 0.25s ease-in-out;

    &:last-child {
      margin-right: 0;
    }

    &--active,
    &:hover {
      color: #1434e1;
    }
  }
}

.works {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;

  &__item {
    width: 35rem;
    margin: 0 3rem 3rem 0;
    cursor: pointer;
    transition: transform 0.5s ease, box-shadow 0.5s ease;

    &:nth-child(3n) {
      margin-right: 0;
    }

    .video-play-btn {
      transform: translate3d(0, -3rem, 0.1rem);
      opacity: 0;
      transition: transform 0.5s ease, opacity 0.5s ease;
    }

    &:hover {
      box-shadow: -3rem 8rem 20rem rgba(0, 0, 0, 0.25);
      transform: translate3d(0, -2rem, 0.1rem);

      video,
      img {
        transform: scale(1.2);
      }

      .video-play-btn {
        transform: translate3d(0, 0, 0.1rem);
        opacity: 1;
      }
    }
  }

  &__link {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 128.57%;
    overflow: hidden;

    video,
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 100%;
      height: 100%;
      transition: transform 0.5s ease;
      object-fit: cover;
    }
  }
}

.testimonials {
  .container {
    position: relative;
  }

  .section-name {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.testimonials-slider {
  position: relative;

  &__slide {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 62rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 54rem;
    padding: 9rem 0 14.5rem 0;
  }

  &__text {
    font-weight: 600;
    font-size: 4rem;
    line-height: 1.25;
    color: #222222;
    letter-spacing: -0.1rem;
  }

  &__author {
    display: block;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 1.45;
    color: #222222;
  }

  &__author-pos {
    display: block;
    font-size: 1.8rem;
    line-height: 1.55;
    color: rgba(#222222, 0.7);
  }

  &__image {
    width: 100%;
    max-width: 44.5rem;

    img {
      display: block;
      width: 100%;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.our-clients {
  margin-bottom: 0;
  padding-bottom: 6.5rem;
  font-size: 1.8rem;
  background-color: #fafafa;

  .section-name {
    margin-bottom: 1.7rem;
  }

  &__columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8rem;
  }

  &__column {
    max-width: 44.5rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    list-style: none;

    a {
      display: block;
      color: #d5d5d5;
      transition: color 0.25s ease;

      &:hover {
        color: #000000;
      }
    }
  }
}

.main-footer {
  padding: 7rem 0 3.5rem 0;
  background-color: #515151;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4.2rem;
    border-bottom: 0.1rem solid rgba(#ffffff, 0.2);
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.5rem;
  }
}

.footer-nav {
  display: flex;

  &__list {
    display: flex;
  }

  &__item {
    margin: 0 3rem;
    list-style: none;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-size: 1.8rem;
    line-height: 1;
    color: #ffffff;
    transition: color 0.25 ease;

    &:hover {
      color: #c6b393;
    }
  }
}

.form-subscribe {
  display: flex;
  align-items: center;

  &__field {
    width: 17rem;
    height: 4rem;
    margin-right: 1.5rem;
    padding: 1rem 2rem 0.8rem 2rem;
    font-size: 1.8rem;
    line-height: 1.27;
    color: rgba(#222222, 0.5);
    background-color: #f5f4ff;
    border: none;
    outline: none;

    &::placeholder {
      font-size: 1.8rem;
      line-height: 1.27;
      color: rgba(#222222, 0.5);
      transition: opacity 0.25s ease;
    }

    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }
  }

  .button {
    height: 4rem;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
  }
}

.footer-submenu {
  display: flex;

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
  }

  &__item:not(:last-child) {
    margin-right: 4.2rem;
  }

  &__link {
    font-size: 1.8rem;
    color: rgba(#ffffff, 0.4);
    transition: color 0.25s ease;

    &:hover {
      color: #ffffff;
    }
  }
}

.social {
  display: flex;
  align-items: center;

  &__item {
    height: 24px;
    margin-right: 1.5rem;
    list-style: none;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    height: 24px;
    color: #ffffff;
    opacity: 0.4;
    transition: opacity 0.25s ease, color 0.25s ease;

    &:hover {
      opacity: 1;
    }

    &--dark {
      color: #000000;
      opacity: 1;

      &:hover {
        color: #f0876a;
      }
    }
  }
}

.page-title {
  width: 100%;
  max-width: 54rem;
  margin-bottom: 3rem;
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.166;
  color: #222222;
  letter-spacing: -0.1rem;
}

.about-single-work {
  margin-bottom: 6.5rem;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 5rem;
  }

  &__image {
    position: relative;
    width: 100%;
    height: 0;
    margin-bottom: 4rem;
    padding-bottom: 52%;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    font-size: 1.8rem;
  }

  .social {
    margin-bottom: 4rem;
  }
}

.awwwards {
  padding-bottom: 5.5rem;

  &__list {
    list-style: none;
  }

  &__item {
    display: flex;
    margin-bottom: 6rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__name {
    width: 25.5rem;
    margin-right: 3rem;
    font-weight: 500;
    font-size: 2.2rem;
    color: #000000;
  }

  &__info {
    width: 255px;
    margin-right: 3rem;
  }

  &__info-title {
    display: block;
    margin-bottom: 1.3rem;
    padding-top: 0.6rem;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.1;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
  }

  &__info-text {
    display: block;
    width: 21.5rem;
    font-size: 1.8rem;
    line-height: 1.715;
  }

  &__year {
    font-size: 1.8rem;
    line-height: 1.75;
    text-align: right;
    color: #000000;
    transform: translateX(-0.2rem);
  }

  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding-top: 6.5rem;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 1.5rem;
      width: calc(100% - 3rem);
      border-top: 0.1rem solid rgba(#222222, 0.2);
    }
  }
}

.char {
  display: inline-block;
}
