*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

button,
input,
select {
  -webkit-appearance: none;
  -moz-appearance: none; }

a {
  color: inherit;
  text-decoration: none; }

html {
  font-size: 62.5%; }

body {
  padding-top: 6rem;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  font-family: 'Fira Sans', sans-serif;
  color: rgba(21, 21, 21, 0.7);
  background-color: #f4f4f4; }

.hidden {
  display: none; }

.container {
  width: 100%;
  max-width: -webkit-calc(111rem + 3rem);
  max-width: calc(111rem + 3rem);
  margin: 0 auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.button {
  display: inline-block;
  height: 5rem;
  padding: 1.9rem 1.7rem 1.5rem 1.7rem;
  font-weight: 500;
  line-height: 1.4rem;
  font-family: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  white-space: nowrap;
  background-color: #4737ff;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out; }
  .button:hover, .button:focus {
    background-color: #6d60ff; }
  .button--indian-khaki {
    background-color: #c6b393; }
    .button--indian-khaki:hover, .button--indian-khaki:focus {
      background-color: #b8a078; }
  .button--peach {
    background-color: #ef8e70; }
    .button--peach:hover, .button--peach:focus {
      background-color: #eb714b; }

.section-title {
  width: 100%;
  max-width: 54rem;
  margin-bottom: 3rem;
  font-weight: 600;
  font-size: 4rem;
  line-height: 1.25;
  color: #222222;
  letter-spacing: -0.1rem; }

.section-name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
  font-weight: 500;
  font-size: 1.4rem;
  color: rgba(34, 34, 34, 0.7);
  text-transform: uppercase;
  letter-spacing: 0.4rem; }
  .section-name::before {
    content: '';
    display: block;
    width: 1.1rem;
    height: 0.1rem;
    margin-right: 1.1rem;
    background-color: rgba(34, 34, 34, 0.7); }
  .section-name--dark {
    color: #222222; }

.section__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8rem; }

section {
  margin-bottom: 6.5rem;
  padding-top: 6.5rem; }

.main-header {
  margin-bottom: 3rem; }
  .main-header .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
  .main-header__link {
    font-size: 1.8rem;
    color: #222222;
    -webkit-transition: color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out; }
    .main-header__link:hover, .main-header__link:focus {
      color: #7b7b7b; }

.main-logo {
  display: block; }
  .main-logo img {
    display: block;
    width: 100%;
    max-width: 100%; }

.main-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .main-nav__toggle {
    position: relative;
    width: 3.4rem;
    height: 1.4rem;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent; }
    .main-nav__toggle::before, .main-nav__toggle::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 3.4rem;
      height: 0.3rem;
      background-color: #222222;
      -webkit-transition: width 0.25s ease-in-out;
      -o-transition: width 0.25s ease-in-out;
      transition: width 0.25s ease-in-out; }
    .main-nav__toggle::after {
      top: auto;
      bottom: 0;
      width: 1.8rem; }
    .main-nav__toggle:hover::before, .main-nav__toggle:focus::before {
      width: 1.8rem; }
    .main-nav__toggle:hover::after, .main-nav__toggle:focus::after {
      width: 3.4rem; }
  .main-nav__list {
    display: none; }

.social-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none; }
  .social-icons__item:not(:last-child) {
    margin-right: 2.5rem; }
  .social-icons__link {
    display: block; }
    .social-icons__link svg path {
      -webkit-transition: fill 0.25s ease-in-out;
      -o-transition: fill 0.25s ease-in-out;
      transition: fill 0.25s ease-in-out; }
    .social-icons__link:hover svg path, .social-icons__link:focus svg path {
      fill: #222222; }

.search-form__label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
.search-form__submit {
  width: 2rem;
  height: 2rem;
  background: none;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 8.5C0 3.80557 3.80557 0 8.5 0C13.1944 0 17 3.80557 17 8.5C17 10.3205 16.4277 12.0073 15.4532 13.3903L18.8922 16.827C19.2831 17.2176 19.2831 17.8511 18.8923 18.2417L18.2444 18.8891C17.854 19.2793 17.2212 19.2793 16.8307 18.8891L13.3915 15.4524C12.0083 16.4274 10.321 17 8.5 17C3.80557 17 0 13.1944 0 8.5ZM8.49996 14.5714C5.15218 14.5714 2.42854 11.8478 2.42854 8.5C2.42854 5.15221 5.15218 2.42857 8.49996 2.42857C11.8477 2.42857 14.5714 5.15221 14.5714 8.5C14.5714 11.8478 11.8477 14.5714 8.49996 14.5714V14.5714Z' fill='%23222222'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer; }
.search-form__input {
  display: none; }

.hero {
  min-height: 84rem;
  margin: 0 0 6.5rem 0;
  padding: 6.5rem 0 0 0;
  background-repeat: no-repeat;
  background-position: center right;
  -webkit-background-size: 50% 50%;
          background-size: 50%; }

.hero-slider {
  padding-bottom: 8.5rem; }
  .hero-slider__content {
    width: 100%;
    max-width: 47.5rem; }
  .hero-slider__title {
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: 6rem;
    line-height: 1.17;
    color: #151515;
    letter-spacing: -0.1rem; }
  .hero-slider__descr {
    margin-bottom: 5.5rem;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.55;
    color: rgba(34, 34, 34, 0.7); }
  .hero-slider__video-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-transform: translateY(-6rem);
        -ms-transform: translateY(-6rem);
            transform: translateY(-6rem); }
  .hero-slider__video-progress {
    width: 100%;
    max-width: 34.5rem;
    height: 1.8rem;
    margin: 0 10rem 4.3rem 0; }
  .hero-slider__video {
    position: relative;
    width: 40rem;
    height: 31rem;
    background-color: transparent; }
    .hero-slider__video video {
      display: block;
      width: 100%;
      max-width: 100%;
      height: 100%;
      -webkit-box-shadow: -2rem 6rem 22rem rgba(0, 0, 0, 0.44);
              box-shadow: -2rem 6rem 22rem rgba(0, 0, 0, 0.44);
      -o-object-fit: cover;
         object-fit: cover; }
  .hero-slider .button {
    position: relative;
    z-index: 1; }

.video-play-btn {
  position: absolute;
  top: -webkit-calc(50% - 3.25rem);
  top: calc(50% - 3.25rem);
  left: -webkit-calc(50% - 3.25rem);
  left: calc(50% - 3.25rem);
  z-index: 1;
  width: 6.5rem;
  height: 6.5rem;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='18' viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.697 8.84848L0.924293 17.3775L0.924293 0.319446L15.697 8.84848Z' fill='%23F96241'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: 1.6rem 1.8rem;
          background-size: 1.6rem 1.8rem;
  border: none;
  outline: none;
  cursor: pointer; }

.about {
  min-height: 56.4rem; }
  .about .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .about__image {
    width: 100%;
    max-width: 47.5rem;
    margin-right: 8rem; }
    .about__image img {
      width: 100%;
      max-width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .about__content {
    padding-top: 3.7rem; }
  .about__text {
    width: 100%;
    max-width: 44.5rem;
    margin-bottom: 6rem;
    font-size: 1.8rem;
    color: rgba(34, 34, 34, 0.7); }
    .about__text p:not(:last-child) {
      margin-bottom: 2rem; }
  .about__author {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .about__author-avatar {
    width: 6.5rem;
    height: 6.5rem;
    margin-right: 3rem;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
    .about__author-avatar img {
      width: 100%;
      max-width: 100%;
      height: 100%;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      -o-object-fit: cover;
         object-fit: cover; }
  .about__author-name {
    font-weight: 500;
    font-size: 2.2rem;
    color: #222222; }
  .about__author-position {
    font-size: 1.8rem;
    color: rgba(34, 34, 34, 0.7); }

.services__items {
  width: 41rem;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 6rem;
     -moz-column-gap: 6rem;
          column-gap: 6rem; }
.services__item {
  float: left;
  width: 100%;
  margin-bottom: 2rem;
  list-style: none;
  font-size: 1.8rem;
  color: rgba(34, 34, 34, 0.5);
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
          break-inside: avoid; }

.services-slider {
  position: relative;
  height: 60rem; }
  .services-slider__list {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .services-slider__slide {
    position: relative;
    width: 82.5rem;
    height: 49.5rem;
    margin-right: 3rem;
    opacity: 0.3;
    pointer-events: none; }
    .services-slider__slide--active {
      opacity: 1;
      pointer-events: all; }
  .services-slider__slide-media {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    overflow: hidden; }
    .services-slider__slide-media video,
    .services-slider__slide-media img {
      position: absolute;
      width: 100%;
      max-width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }

.slider-arrows {
  position: absolute;
  bottom: 0;
  left: 0; }

.slider-arrow {
  width: 6.5rem;
  height: 6.5rem;
  font-size: 0;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: 1.1rem 1.8rem;
          background-size: 1.1rem 1.8rem;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out; }
  .slider-arrow:hover {
    background-color: #b7b7b7; }
  .slider-arrow--prev {
    margin-right: 2.5rem;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='18' viewBox='0 0 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 1.5L2 9.3125L9.5 17.125' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A"); }
  .slider-arrow--next {
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='18' viewBox='0 0 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 16.75L9 8.9375L1.5 1.125' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A"); }

.features .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
.features__media {
  position: relative;
  padding: 10rem 0 0 19.5rem; }
  .features__media img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
.features__img-1 {
  position: absolute;
  top: 0;
  left: -12rem;
  z-index: -1;
  width: 57rem;
  height: 41.7rem; }
.features__img-2 {
  width: 35rem;
  height: 45.3rem;
  background: url(iOS-12.jpg);
  -webkit-box-shadow: 3rem 8rem 18rem rgba(0, 0, 0, 0.25);
          box-shadow: 3rem 8rem 18rem rgba(0, 0, 0, 0.25); }
.features__content {
  width: 100%;
  max-width: 47.5rem; }
.features__text {
  margin-bottom: 6rem; }
.features__item {
  margin-bottom: 3rem;
  list-style: none; }
  .features__item:last-child {
    margin-bottom: 0; }
.features__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.4rem; }
.features__item-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5.4rem;
  height: 5.4rem;
  margin-right: 3rem;
  background-color: #e1e1e1;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.our-works__text {
  width: 100%;
  max-width: 73rem;
  font-size: 1.8rem;
  color: rgba(34, 34, 34, 0.7); }
  .our-works__text--small {
    max-width: 54rem; }
.our-works__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.works-nav {
  margin-bottom: 3rem; }
  .works-nav__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; }
  .works-nav__item {
    margin-right: 2.5rem;
    list-style: none;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.15;
    color: rgba(34, 34, 34, 0.3);
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    cursor: pointer;
    -webkit-transition: color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out; }
    .works-nav__item:last-child {
      margin-right: 0; }
    .works-nav__item--active, .works-nav__item:hover {
      color: #1434e1; }

.works {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 2rem; }
  .works__item {
    width: 35rem;
    margin: 0 3rem 3rem 0;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.5s ease, -webkit-box-shadow 0.5s ease;
    transition: -webkit-transform 0.5s ease, -webkit-box-shadow 0.5s ease;
    -o-transition: transform 0.5s ease, box-shadow 0.5s ease;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    transition: transform 0.5s ease, box-shadow 0.5s ease, -webkit-transform 0.5s ease, -webkit-box-shadow 0.5s ease; }
    .works__item:nth-child(3n) {
      margin-right: 0; }
    .works__item .video-play-btn {
      -webkit-transform: translate3d(0, -3rem, 0.1rem);
              transform: translate3d(0, -3rem, 0.1rem);
      opacity: 0;
      -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
      transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
      -o-transition: transform 0.5s ease, opacity 0.5s ease;
      transition: transform 0.5s ease, opacity 0.5s ease;
      transition: transform 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease; }
    .works__item:hover {
      -webkit-box-shadow: -3rem 8rem 20rem rgba(0, 0, 0, 0.25);
              box-shadow: -3rem 8rem 20rem rgba(0, 0, 0, 0.25);
      -webkit-transform: translate3d(0, -2rem, 0.1rem);
              transform: translate3d(0, -2rem, 0.1rem); }
      .works__item:hover video,
      .works__item:hover img {
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2); }
      .works__item:hover .video-play-btn {
        -webkit-transform: translate3d(0, 0, 0.1rem);
                transform: translate3d(0, 0, 0.1rem);
        opacity: 1; }
  .works__link {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 128.57%;
    overflow: hidden; }
    .works__link video,
    .works__link img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 100%;
      height: 100%;
      -webkit-transition: -webkit-transform 0.5s ease;
      transition: -webkit-transform 0.5s ease;
      -o-transition: transform 0.5s ease;
      transition: transform 0.5s ease;
      transition: transform 0.5s ease, -webkit-transform 0.5s ease;
      -o-object-fit: cover;
         object-fit: cover; }

.testimonials .container {
  position: relative; }
.testimonials .section-name {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }

.testimonials-slider {
  position: relative; }
  .testimonials-slider__slide {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 62rem; }
  .testimonials-slider__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    max-width: 54rem;
    padding: 9rem 0 14.5rem 0; }
  .testimonials-slider__text {
    font-weight: 600;
    font-size: 4rem;
    line-height: 1.25;
    color: #222222;
    letter-spacing: -0.1rem; }
  .testimonials-slider__author {
    display: block;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 1.45;
    color: #222222; }
  .testimonials-slider__author-pos {
    display: block;
    font-size: 1.8rem;
    line-height: 1.55;
    color: rgba(34, 34, 34, 0.7); }
  .testimonials-slider__image {
    width: 100%;
    max-width: 44.5rem; }
    .testimonials-slider__image img {
      display: block;
      width: 100%;
      max-width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }

.our-clients {
  margin-bottom: 0;
  padding-bottom: 6.5rem;
  font-size: 1.8rem;
  background-color: #fafafa; }
  .our-clients .section-name {
    margin-bottom: 1.7rem; }
  .our-clients__columns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 8rem; }
  .our-clients__column {
    max-width: 44.5rem; }
  .our-clients__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .our-clients__item {
    list-style: none; }
    .our-clients__item a {
      display: block;
      color: #d5d5d5;
      -webkit-transition: color 0.25s ease;
      -o-transition: color 0.25s ease;
      transition: color 0.25s ease; }
      .our-clients__item a:hover {
        color: #000000; }

.main-footer {
  padding: 7rem 0 3.5rem 0;
  background-color: #515151; }
  .main-footer__top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 4.2rem;
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2); }
  .main-footer__bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 3.5rem; }

.footer-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .footer-nav__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .footer-nav__item {
    margin: 0 3rem;
    list-style: none; }
    .footer-nav__item:first-child {
      margin-left: 0; }
    .footer-nav__item:last-child {
      margin-right: 0; }
  .footer-nav__link {
    font-size: 1.8rem;
    line-height: 1;
    color: #ffffff;
    -webkit-transition: color 0.25 ease;
    -o-transition: color 0.25 ease;
    transition: color 0.25 ease; }
    .footer-nav__link:hover {
      color: #c6b393; }

.form-subscribe {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .form-subscribe__field {
    width: 17rem;
    height: 4rem;
    margin-right: 1.5rem;
    padding: 1rem 2rem 0.8rem 2rem;
    font-size: 1.8rem;
    line-height: 1.27;
    color: rgba(34, 34, 34, 0.5);
    background-color: #f5f4ff;
    border: none;
    outline: none; }
    .form-subscribe__field::-webkit-input-placeholder {
      font-size: 1.8rem;
      line-height: 1.27;
      color: rgba(34, 34, 34, 0.5);
      -webkit-transition: opacity 0.25s ease;
      -o-transition: opacity 0.25s ease;
      transition: opacity 0.25s ease; }
    .form-subscribe__field::-moz-placeholder {
      font-size: 1.8rem;
      line-height: 1.27;
      color: rgba(34, 34, 34, 0.5);
      -webkit-transition: opacity 0.25s ease;
      -o-transition: opacity 0.25s ease;
      transition: opacity 0.25s ease; }
    .form-subscribe__field:-ms-input-placeholder {
      font-size: 1.8rem;
      line-height: 1.27;
      color: rgba(34, 34, 34, 0.5);
      -webkit-transition: opacity 0.25s ease;
      -o-transition: opacity 0.25s ease;
      transition: opacity 0.25s ease; }
    .form-subscribe__field::-ms-input-placeholder {
      font-size: 1.8rem;
      line-height: 1.27;
      color: rgba(34, 34, 34, 0.5);
      -webkit-transition: opacity 0.25s ease;
      -o-transition: opacity 0.25s ease;
      transition: opacity 0.25s ease; }
    .form-subscribe__field::placeholder {
      font-size: 1.8rem;
      line-height: 1.27;
      color: rgba(34, 34, 34, 0.5);
      -webkit-transition: opacity 0.25s ease;
      -o-transition: opacity 0.25s ease;
      transition: opacity 0.25s ease; }
    .form-subscribe__field:focus::-webkit-input-placeholder {
      opacity: 0; }
    .form-subscribe__field:focus::-moz-placeholder {
      opacity: 0; }
    .form-subscribe__field:focus:-ms-input-placeholder {
      opacity: 0; }
    .form-subscribe__field:focus::-ms-input-placeholder {
      opacity: 0; }
    .form-subscribe__field:focus::placeholder {
      opacity: 0; }
  .form-subscribe .button {
    height: 4rem;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem; }

.footer-submenu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .footer-submenu__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none; }
  .footer-submenu__item:not(:last-child) {
    margin-right: 4.2rem; }
  .footer-submenu__link {
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.4);
    -webkit-transition: color 0.25s ease;
    -o-transition: color 0.25s ease;
    transition: color 0.25s ease; }
    .footer-submenu__link:hover {
      color: #ffffff; }

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .social__item {
    height: 24px;
    margin-right: 1.5rem;
    list-style: none; }
    .social__item:last-child {
      margin-right: 0; }
  .social__link {
    display: block;
    height: 24px;
    color: #ffffff;
    opacity: 0.4;
    -webkit-transition: opacity 0.25s ease, color 0.25s ease;
    -o-transition: opacity 0.25s ease, color 0.25s ease;
    transition: opacity 0.25s ease, color 0.25s ease; }
    .social__link:hover {
      opacity: 1; }
    .social__link--dark {
      color: #000000;
      opacity: 1; }
      .social__link--dark:hover {
        color: #f0876a; }

.page-title {
  width: 100%;
  max-width: 54rem;
  margin-bottom: 3rem;
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.166;
  color: #222222;
  letter-spacing: -0.1rem; }

.about-single-work {
  margin-bottom: 6.5rem; }
  .about-single-work__top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 5rem; }
  .about-single-work__image {
    position: relative;
    width: 100%;
    height: 0;
    margin-bottom: 4rem;
    padding-bottom: 52%;
    overflow: hidden; }
    .about-single-work__image img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .about-single-work__text {
    font-size: 1.8rem; }
  .about-single-work .social {
    margin-bottom: 4rem; }

.awwwards {
  padding-bottom: 5.5rem; }
  .awwwards__list {
    list-style: none; }
  .awwwards__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 6rem; }
    .awwwards__item:last-child {
      margin-bottom: 0; }
  .awwwards__name {
    width: 25.5rem;
    margin-right: 3rem;
    font-weight: 500;
    font-size: 2.2rem;
    color: #000000; }
  .awwwards__info {
    width: 255px;
    margin-right: 3rem; }
  .awwwards__info-title {
    display: block;
    margin-bottom: 1.3rem;
    padding-top: 0.6rem;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.1;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.4rem; }
  .awwwards__info-text {
    display: block;
    width: 21.5rem;
    font-size: 1.8rem;
    line-height: 1.715; }
  .awwwards__year {
    font-size: 1.8rem;
    line-height: 1.75;
    text-align: right;
    color: #000000;
    -webkit-transform: translateX(-0.2rem);
        -ms-transform: translateX(-0.2rem);
            transform: translateX(-0.2rem); }
  .awwwards .container {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0;
    padding-top: 6.5rem; }
    .awwwards .container::before {
      content: '';
      position: absolute;
      top: 0;
      left: 1.5rem;
      width: -webkit-calc(100% - 3rem);
      width: calc(100% - 3rem);
      border-top: 0.1rem solid rgba(34, 34, 34, 0.2); }

/*# sourceMappingURL=app.css.map */